# Configuración para Testnet
STELLAR_NETWORK=testnet
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
STELLAR_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
ADMIN_ADDRESS=GB4UZ6VHOD6ZDCBHJPI3OSFHBXTFTD75YNVLO3YT7PLC3RZANKFROEMZ

# IDs de Contratos Desplegados en Testnet
PRICE_ORACLE_CONTRACT_ID=CAYMTS6FAAYPCYUSMGRIIHSRBLTWB53EYPMANEV6UZMHE4VIBINF52TD
TRADING_CONTRACT_ID=CBCKPEPZZ6H66555PB7ZR3YQNX2GBHR4VFP7NZIV4KZ36345YFZXEZE2

# Configuración de Reflector Oracle (Testnet)
REFLECTOR_ORACLE_ADDRESS=CALI2BYU2JE6WVRUFYTS6MSBNEHGJ35P4AVCZYF3B6QOE3QKOB2PLE6M
